{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <title>Django To-do Lists</title>
    <style>
        /* Media query for smaller screens */
        @media (max-width: 768px) {
            body {
                font-size: 16px; /* Adjust font size for readability */
            }
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">Django To-do Lists</a>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        This content will be replaced by different HTML code for each page.
        {% endblock %}
    </main>
</body>
</html>
